@import 'common';

body {
    @include size(100vw, 100vh);
    background-color: $purple;
}

.container {
    @include size(60%, 70%);
    background-color: $white;

    // center the container
    position: absolute;
    @include center;
}

.game {
    @include size(70%);
    background-color: $purple;

    // center horizontally and place to the bottom
    @include centerHorizontally;
    bottom: 24px;

}

.game-board {
    @include size(90%);
    background-color: $white;
    border: 1px solid $purple;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    @include centerHorizontally;
    bottom: 10%;
}